@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<hr>
<h3>@Saudacao(nome)</h3>
<hr>
<Contador/>

@code {
    string nome = "Robson";
    private string data = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetDayName( DateTime.Now.DayOfWeek );
    private string Saudacao(string nome){
        return $"Olá, {nome}! Hoje é {data}.";
    }
}